@-webkit-keyframes p8{
  0% {background: url('/static/img/voiceprint/microphone/microphone (1).png') no-repeat; background-size: 100% 100%;}
  2.77% {background: url('/static/img/voiceprint/microphone/microphone (2).png') no-repeat; background-size: 100% 100%;}
  5.54% {background: url('/static/img/voiceprint/microphone/microphone (3).png') no-repeat; background-size: 100% 100%;}
  8.31% {background: url('/static/img/voiceprint/microphone/microphone (4).png') no-repeat; background-size: 100% 100%;}
  11.08% {background: url('/static/img/voiceprint/microphone/microphone (5).png') no-repeat; background-size: 100% 100%;}
  13.85% {background: url('/static/img/voiceprint/microphone/microphone (6).png') no-repeat; background-size: 100% 100%;}
  16.62% {background: url('/static/img/voiceprint/microphone/microphone (7).png') no-repeat; background-size: 100% 100%;}
  19.39% {background: url('/static/img/voiceprint/microphone/microphone (8).png') no-repeat; background-size: 100% 100%;}
  22.16% {background: url('/static/img/voiceprint/microphone/microphone (9).png') no-repeat; background-size: 100% 100%;}
  24.93% {background: url('/static/img/voiceprint/microphone/microphone (10).png') no-repeat; background-size: 100% 100%;}
  27.70% {background: url('/static/img/voiceprint/microphone/microphone (11).png') no-repeat; background-size: 100% 100%;}
  30.47% {background: url('/static/img/voiceprint/microphone/microphone (12).png') no-repeat; background-size: 100% 100%;}
  33.24% {background: url('/static/img/voiceprint/microphone/microphone (13).png') no-repeat; background-size: 100% 100%;}
  36.31% {background: url('/static/img/voiceprint/microphone/microphone (14).png') no-repeat; background-size: 100% 100%;}
  38.78% {background: url('/static/img/voiceprint/microphone/microphone (15).png') no-repeat; background-size: 100% 100%;}
  41.55% {background: url('/static/img/voiceprint/microphone/microphone (16).png') no-repeat; background-size: 100% 100%;}
  44.32% {background: url('/static/img/voiceprint/microphone/microphone (17).png') no-repeat; background-size: 100% 100%;}
  47.09% {background: url('/static/img/voiceprint/microphone/microphone (18).png') no-repeat; background-size: 100% 100%;}
  49.86% {background: url('/static/img/voiceprint/microphone/microphone (19).png') no-repeat; background-size: 100% 100%;}
  52.63% {background: url('/static/img/voiceprint/microphone/microphone (20).png') no-repeat; background-size: 100% 100%;}
  55.4% {background: url('/static/img/voiceprint/microphone/microphone (21).png') no-repeat; background-size: 100% 100%;}
  58.17% {background: url('/static/img/voiceprint/microphone/microphone (22).png') no-repeat; background-size: 100% 100%;}
  60.94% {background: url('/static/img/voiceprint/microphone/microphone (23).png') no-repeat; background-size: 100% 100%;}
  63.71% {background: url('/static/img/voiceprint/microphone/microphone (24).png') no-repeat; background-size: 100% 100%;}
  66.48% {background: url('/static/img/voiceprint/microphone/microphone (25).png') no-repeat; background-size: 100% 100%;}
  69.25% {background: url('/static/img/voiceprint/microphone/microphone (26).png') no-repeat; background-size: 100% 100%;}
  72.02% {background: url('/static/img/voiceprint/microphone/microphone (27).png') no-repeat; background-size: 100% 100%;}
  74.97% {background: url('/static/img/voiceprint/microphone/microphone (28).png') no-repeat; background-size: 100% 100%;}
  77.56% {background: url('/static/img/voiceprint/microphone/microphone (29).png') no-repeat; background-size: 100% 100%;}
  80.33% {background: url('/static/img/voiceprint/microphone/microphone (30).png') no-repeat; background-size: 100% 100%;}
  83.10% {background: url('/static/img/voiceprint/microphone/microphone (31).png') no-repeat; background-size: 100% 100%;}
  85.87% {background: url('/static/img/voiceprint/microphone/microphone (32).png') no-repeat; background-size: 100% 100%;}
  88.64% {background: url('/static/img/voiceprint/microphone/microphone (33).png') no-repeat; background-size: 100% 100%;}
  91.41% {background: url('/static/img/voiceprint/microphone/microphone (34).png') no-repeat; background-size: 100% 100%;}
  94.18% {background: url('/static/img/voiceprint/microphone/microphone (35).png') no-repeat; background-size: 100% 100%;}
  100% {background: url('/static/img/voiceprint/microphone/microphone (36).png') no-repeat; background-size: 100% 100%;}
}

.wave {
  -webkit-animation: p8 steps(1, end) 1s infinite;
}

@-webkit-keyframes p9{
  0% {background: url('/static/img/voiceprint/wave/wave (1).png') no-repeat; background-size: 100% 100%;}
  0.724% {background: url('/static/img/voiceprint/wave/wave (2).png') no-repeat; background-size: 100% 100%;}
  1.449% {background: url('/static/img/voiceprint/wave/wave (3).png') no-repeat; background-size: 100% 100%;}
  2.173% {background: url('/static/img/voiceprint/wave/wave (4).png') no-repeat; background-size: 100% 100%;}
  2.898% {background: url('/static/img/voiceprint/wave/wave (5).png') no-repeat; background-size: 100% 100%;}
  3.623% {background: url('/static/img/voiceprint/wave/wave (6).png') no-repeat; background-size: 100% 100%;}
  4.347% {background: url('/static/img/voiceprint/wave/wave (7).png') no-repeat; background-size: 100% 100%;}
  5.072% {background: url('/static/img/voiceprint/wave/wave (8).png') no-repeat; background-size: 100% 100%;}
  5.797% {background: url('/static/img/voiceprint/wave/wave (9).png') no-repeat; background-size: 100% 100%;}
  6.521% {background: url('/static/img/voiceprint/wave/wave (10).png') no-repeat; background-size: 100% 100%;}
  7.246% {background: url('/static/img/voiceprint/wave/wave (11).png') no-repeat; background-size: 100% 100%;}
  7.971% {background: url('/static/img/voiceprint/wave/wave (12).png') no-repeat; background-size: 100% 100%;}
  8.695% {background: url('/static/img/voiceprint/wave/wave (13).png') no-repeat; background-size: 100% 100%;}
  9.420% {background: url('/static/img/voiceprint/wave/wave (14).png') no-repeat; background-size: 100% 100%;}
  10.14% {background: url('/static/img/voiceprint/wave/wave (15).png') no-repeat; background-size: 100% 100%;}
  10.86% {background: url('/static/img/voiceprint/wave/wave (16).png') no-repeat; background-size: 100% 100%;}
  11.59% {background: url('/static/img/voiceprint/wave/wave (17).png') no-repeat; background-size: 100% 100%;}
  12.31% {background: url('/static/img/voiceprint/wave/wave (18).png') no-repeat; background-size: 100% 100%;}
  13.04% {background: url('/static/img/voiceprint/wave/wave (19).png') no-repeat; background-size: 100% 100%;}
  13.76% {background: url('/static/img/voiceprint/wave/wave (20).png') no-repeat; background-size: 100% 100%;}
  14.49% {background: url('/static/img/voiceprint/wave/wave (21).png') no-repeat; background-size: 100% 100%;}
  15.21% {background: url('/static/img/voiceprint/wave/wave (22).png') no-repeat; background-size: 100% 100%;}
  15.94% {background: url('/static/img/voiceprint/wave/wave (23).png') no-repeat; background-size: 100% 100%;}
  16.66% {background: url('/static/img/voiceprint/wave/wave (24).png') no-repeat; background-size: 100% 100%;}
  17.39% {background: url('/static/img/voiceprint/wave/wave (25).png') no-repeat; background-size: 100% 100%;}
  18.11% {background: url('/static/img/voiceprint/wave/wave (26).png') no-repeat; background-size: 100% 100%;}
  18.84% {background: url('/static/img/voiceprint/wave/wave (27).png') no-repeat; background-size: 100% 100%;}
  19.56% {background: url('/static/img/voiceprint/wave/wave (28).png') no-repeat; background-size: 100% 100%;}
  20.28% {background: url('/static/img/voiceprint/wave/wave (29).png') no-repeat; background-size: 100% 100%;}
  21.01% {background: url('/static/img/voiceprint/wave/wave (30).png') no-repeat; background-size: 100% 100%;}
  21.73% {background: url('/static/img/voiceprint/wave/wave (31).png') no-repeat; background-size: 100% 100%;}
  22.46% {background: url('/static/img/voiceprint/wave/wave (32).png') no-repeat; background-size: 100% 100%;}
  23.18% {background: url('/static/img/voiceprint/wave/wave (33).png') no-repeat; background-size: 100% 100%;}
  23.91% {background: url('/static/img/voiceprint/wave/wave (34).png') no-repeat; background-size: 100% 100%;}
  24.63% {background: url('/static/img/voiceprint/wave/wave (35).png') no-repeat; background-size: 100% 100%;}
  25.36% {background: url('/static/img/voiceprint/wave/wave (36).png') no-repeat; background-size: 100% 100%;}
  26.08% {background: url('/static/img/voiceprint/wave/wave (37).png') no-repeat; background-size: 100% 100%;}
  26.81% {background: url('/static/img/voiceprint/wave/wave (38).png') no-repeat; background-size: 100% 100%;}
  27.53% {background: url('/static/img/voiceprint/wave/wave (39).png') no-repeat; background-size: 100% 100%;}
  28.26% {background: url('/static/img/voiceprint/wave/wave (40).png') no-repeat; background-size: 100% 100%;}
  28.98% {background: url('/static/img/voiceprint/wave/wave (41).png') no-repeat; background-size: 100% 100%;}
  29.71% {background: url('/static/img/voiceprint/wave/wave (42).png') no-repeat; background-size: 100% 100%;}
  30.43% {background: url('/static/img/voiceprint/wave/wave (43).png') no-repeat; background-size: 100% 100%;}
  31.15% {background: url('/static/img/voiceprint/wave/wave (44).png') no-repeat; background-size: 100% 100%;}
  31.88% {background: url('/static/img/voiceprint/wave/wave (45).png') no-repeat; background-size: 100% 100%;}
  32.60% {background: url('/static/img/voiceprint/wave/wave (46).png') no-repeat; background-size: 100% 100%;}
  33.33% {background: url('/static/img/voiceprint/wave/wave (47).png') no-repeat; background-size: 100% 100%;}
  34.05% {background: url('/static/img/voiceprint/wave/wave (48).png') no-repeat; background-size: 100% 100%;}
  34.78% {background: url('/static/img/voiceprint/wave/wave (49).png') no-repeat; background-size: 100% 100%;}
  35.50% {background: url('/static/img/voiceprint/wave/wave (50).png') no-repeat; background-size: 100% 100%;}
  36.23% {background: url('/static/img/voiceprint/wave/wave (51).png') no-repeat; background-size: 100% 100%;}
  36.95% {background: url('/static/img/voiceprint/wave/wave (52).png') no-repeat; background-size: 100% 100%;}
  37.68% {background: url('/static/img/voiceprint/wave/wave (53).png') no-repeat; background-size: 100% 100%;}
  38.40% {background: url('/static/img/voiceprint/wave/wave (54).png') no-repeat; background-size: 100% 100%;}
  39.13% {background: url('/static/img/voiceprint/wave/wave (55).png') no-repeat; background-size: 100% 100%;}
  39.85% {background: url('/static/img/voiceprint/wave/wave (56).png') no-repeat; background-size: 100% 100%;}
  40.57% {background: url('/static/img/voiceprint/wave/wave (57).png') no-repeat; background-size: 100% 100%;}
  41.30% {background: url('/static/img/voiceprint/wave/wave (58).png') no-repeat; background-size: 100% 100%;}
  42.02% {background: url('/static/img/voiceprint/wave/wave (59).png') no-repeat; background-size: 100% 100%;}
  42.75% {background: url('/static/img/voiceprint/wave/wave (60).png') no-repeat; background-size: 100% 100%;}
  43.47% {background: url('/static/img/voiceprint/wave/wave (61).png') no-repeat; background-size: 100% 100%;}
  44.20% {background: url('/static/img/voiceprint/wave/wave (62).png') no-repeat; background-size: 100% 100%;}
  44.92% {background: url('/static/img/voiceprint/wave/wave (63).png') no-repeat; background-size: 100% 100%;}
  45.65% {background: url('/static/img/voiceprint/wave/wave (64).png') no-repeat; background-size: 100% 100%;}
  46.37% {background: url('/static/img/voiceprint/wave/wave (65).png') no-repeat; background-size: 100% 100%;}
  47.10% {background: url('/static/img/voiceprint/wave/wave (66).png') no-repeat; background-size: 100% 100%;}
  47.82% {background: url('/static/img/voiceprint/wave/wave (67).png') no-repeat; background-size: 100% 100%;}
  48.55% {background: url('/static/img/voiceprint/wave/wave (68).png') no-repeat; background-size: 100% 100%;}
  49.27% {background: url('/static/img/voiceprint/wave/wave (69).png') no-repeat; background-size: 100% 100%;}
  50.00% {background: url('/static/img/voiceprint/wave/wave (70).png') no-repeat; background-size: 100% 100%;}
  50.72% {background: url('/static/img/voiceprint/wave/wave (71).png') no-repeat; background-size: 100% 100%;}
  51.44% {background: url('/static/img/voiceprint/wave/wave (72).png') no-repeat; background-size: 100% 100%;}
  52.17% {background: url('/static/img/voiceprint/wave/wave (73).png') no-repeat; background-size: 100% 100%;}
  52.89% {background: url('/static/img/voiceprint/wave/wave (74).png') no-repeat; background-size: 100% 100%;}
  53.62% {background: url('/static/img/voiceprint/wave/wave (75).png') no-repeat; background-size: 100% 100%;}
  54.34% {background: url('/static/img/voiceprint/wave/wave (76).png') no-repeat; background-size: 100% 100%;}
  55.07% {background: url('/static/img/voiceprint/wave/wave (77).png') no-repeat; background-size: 100% 100%;}
  55.79% {background: url('/static/img/voiceprint/wave/wave (78).png') no-repeat; background-size: 100% 100%;}
  56.52% {background: url('/static/img/voiceprint/wave/wave (79).png') no-repeat; background-size: 100% 100%;}
  57.24% {background: url('/static/img/voiceprint/wave/wave (80).png') no-repeat; background-size: 100% 100%;}
  57.97% {background: url('/static/img/voiceprint/wave/wave (81).png') no-repeat; background-size: 100% 100%;}
  58.69% {background: url('/static/img/voiceprint/wave/wave (82).png') no-repeat; background-size: 100% 100%;}
  59.42% {background: url('/static/img/voiceprint/wave/wave (83).png') no-repeat; background-size: 100% 100%;}
  60.14% {background: url('/static/img/voiceprint/wave/wave (84).png') no-repeat; background-size: 100% 100%;}
  60.86% {background: url('/static/img/voiceprint/wave/wave (85).png') no-repeat; background-size: 100% 100%;}
  61.59% {background: url('/static/img/voiceprint/wave/wave (86).png') no-repeat; background-size: 100% 100%;}
  62.31% {background: url('/static/img/voiceprint/wave/wave (87).png') no-repeat; background-size: 100% 100%;}
  63.04% {background: url('/static/img/voiceprint/wave/wave (88).png') no-repeat; background-size: 100% 100%;}
  63.76% {background: url('/static/img/voiceprint/wave/wave (89).png') no-repeat; background-size: 100% 100%;}
  64.49% {background: url('/static/img/voiceprint/wave/wave (90).png') no-repeat; background-size: 100% 100%;}
  65.21% {background: url('/static/img/voiceprint/wave/wave (91).png') no-repeat; background-size: 100% 100%;}
  65.94% {background: url('/static/img/voiceprint/wave/wave (92).png') no-repeat; background-size: 100% 100%;}
  66.66% {background: url('/static/img/voiceprint/wave/wave (93).png') no-repeat; background-size: 100% 100%;}
  67.39% {background: url('/static/img/voiceprint/wave/wave (94).png') no-repeat; background-size: 100% 100%;}
  68.11% {background: url('/static/img/voiceprint/wave/wave (95).png') no-repeat; background-size: 100% 100%;}
  68.84% {background: url('/static/img/voiceprint/wave/wave (96).png') no-repeat; background-size: 100% 100%;}
  69.56% {background: url('/static/img/voiceprint/wave/wave (97).png') no-repeat; background-size: 100% 100%;}
  70.28% {background: url('/static/img/voiceprint/wave/wave (98).png') no-repeat; background-size: 100% 100%;}
  71.01% {background: url('/static/img/voiceprint/wave/wave (99).png') no-repeat; background-size: 100% 100%;}
  71.73% {background: url('/static/img/voiceprint/wave/wave (100).png') no-repeat; background-size: 100% 100%;}
  72.46% {background: url('/static/img/voiceprint/wave/wave (101).png') no-repeat; background-size: 100% 100%;}
  73.18% {background: url('/static/img/voiceprint/wave/wave (102).png') no-repeat; background-size: 100% 100%;}
  73.91% {background: url('/static/img/voiceprint/wave/wave (103).png') no-repeat; background-size: 100% 100%;}
  74.63% {background: url('/static/img/voiceprint/wave/wave (104).png') no-repeat; background-size: 100% 100%;}
  75.36% {background: url('/static/img/voiceprint/wave/wave (105).png') no-repeat; background-size: 100% 100%;}
  76.08% {background: url('/static/img/voiceprint/wave/wave (106).png') no-repeat; background-size: 100% 100%;}
  76.81% {background: url('/static/img/voiceprint/wave/wave (107).png') no-repeat; background-size: 100% 100%;}
  77.53% {background: url('/static/img/voiceprint/wave/wave (108).png') no-repeat; background-size: 100% 100%;}
  78.26% {background: url('/static/img/voiceprint/wave/wave (109).png') no-repeat; background-size: 100% 100%;}
  78.98% {background: url('/static/img/voiceprint/wave/wave (110).png') no-repeat; background-size: 100% 100%;}
  79.71% {background: url('/static/img/voiceprint/wave/wave (111).png') no-repeat; background-size: 100% 100%;}
  80.43% {background: url('/static/img/voiceprint/wave/wave (112).png') no-repeat; background-size: 100% 100%;}
  81.15% {background: url('/static/img/voiceprint/wave/wave (113).png') no-repeat; background-size: 100% 100%;}
  81.88% {background: url('/static/img/voiceprint/wave/wave (114).png') no-repeat; background-size: 100% 100%;}
  82.60% {background: url('/static/img/voiceprint/wave/wave (115).png') no-repeat; background-size: 100% 100%;}
  83.33% {background: url('/static/img/voiceprint/wave/wave (116).png') no-repeat; background-size: 100% 100%;}
  84.05% {background: url('/static/img/voiceprint/wave/wave (117).png') no-repeat; background-size: 100% 100%;}
  84.78% {background: url('/static/img/voiceprint/wave/wave (118).png') no-repeat; background-size: 100% 100%;}
  85.50% {background: url('/static/img/voiceprint/wave/wave (119).png') no-repeat; background-size: 100% 100%;}
  86.23% {background: url('/static/img/voiceprint/wave/wave (120).png') no-repeat; background-size: 100% 100%;}
  86.95% {background: url('/static/img/voiceprint/wave/wave (121).png') no-repeat; background-size: 100% 100%;}
  87.68% {background: url('/static/img/voiceprint/wave/wave (122).png') no-repeat; background-size: 100% 100%;}
  88.40% {background: url('/static/img/voiceprint/wave/wave (123).png') no-repeat; background-size: 100% 100%;}
  89.13% {background: url('/static/img/voiceprint/wave/wave (124).png') no-repeat; background-size: 100% 100%;}
  89.85% {background: url('/static/img/voiceprint/wave/wave (125).png') no-repeat; background-size: 100% 100%;}
  90.57% {background: url('/static/img/voiceprint/wave/wave (126).png') no-repeat; background-size: 100% 100%;}
  91.30% {background: url('/static/img/voiceprint/wave/wave (127).png') no-repeat; background-size: 100% 100%;}
  92.02% {background: url('/static/img/voiceprint/wave/wave (128).png') no-repeat; background-size: 100% 100%;}
  92.75% {background: url('/static/img/voiceprint/wave/wave (129).png') no-repeat; background-size: 100% 100%;}
  93.47% {background: url('/static/img/voiceprint/wave/wave (130).png') no-repeat; background-size: 100% 100%;}
  94.20% {background: url('/static/img/voiceprint/wave/wave (131).png') no-repeat; background-size: 100% 100%;}
  94.92% {background: url('/static/img/voiceprint/wave/wave (132).png') no-repeat; background-size: 100% 100%;}
  95.65% {background: url('/static/img/voiceprint/wave/wave (133).png') no-repeat; background-size: 100% 100%;}
  96.37% {background: url('/static/img/voiceprint/wave/wave (134).png') no-repeat; background-size: 100% 100%;}
  97.10% {background: url('/static/img/voiceprint/wave/wave (135).png') no-repeat; background-size: 100% 100%;}
  97.82% {background: url('/static/img/voiceprint/wave/wave (136).png') no-repeat; background-size: 100% 100%;}
  98.55% {background: url('/static/img/voiceprint/wave/wave (137).png') no-repeat; background-size: 100% 100%;}
  100% {background: url('/static/img/voiceprint/wave/wave (138).png') no-repeat; background-size: 100% 100%;}
}

.wave-hall {
  -webkit-animation: p9 steps(1, end) 1s infinite;
}

* {
  -webkit-tap-highlight-color: none;
  -webkit-touch-callout: none;
  user-select: none;
}
